*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/tommymertell/novelspeedwriting/Secrets.java
/app/src/main/res/values/ad_strings.xml
